$defaultFontSize: 16px;
$primary-color: #0098d3;
$primary-color-hover: #0280b3;
$menu-color: #252527;

$font-light: #fff;
$font-grey-light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: rgb(160, 160, 160);
$font-dark-light: #252527;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-light: #252527;
$border-dark: #000;

$bg-light: #fff;
$bg-grey-light: #e8e8e8;
$bg-grey: #808080;
$bg-grey-dark: #595959;
$bg-dark-light: #252527;
$bg-dark: #000;
$bg-error: #ff00001f;
$bg-success: #84b84c1f;

$success: #84b84c;
$error: #f00;

$d-sx: 413.98px;
$d-sm: 573.98px;
$d-md: 767.98px;
$d-lg: 991.98px;
$d-xl: 1199.98;

$u-sx: 320px;
$u-sm: 576px;
$u-md: 768px;
$u-lg: 992px;
$u-xl: 1200px;