.add-user-form{
     .form-add{
         .ant-form-item {
             margin-top: 5px;
             margin-bottom: 20px;

             i{
                 color: rgba($color: #000 , $alpha: 0.25);
             }
         }

         .btn-submit {
             width: 100%;
         }
     }
}